<template name="Header">
  <img style="max-height: 200px" class="ui fluid image" src="/images/UHM-logo.jpg">
  <div style="margin: 0px; border-radius: 0px" class="ui borderless inverted menu">
    <div class="ui container">
      <a class="item" href="{{pathFor 'Home_Page'}}"><h1>UHM Flea Market</h1></a>
      <a class="{{ isActiveRoute 'About_Us_Page'}} item" href="{{ pathFor 'About_Us_Page' }}"> About us </a>
      {{#If_Logged_In}}
      <a class="{{ isActiveRoute 'Category_Page'}} item" href="{{ pathFor 'Category_Page' }}"> Categories </a>
      {{/If_Logged_In}}
      <div class="ui borderless right item">
        <a href="#" class="item" style="font-size:24px">{{> loginButtons }} </a>
        {{#If_Logged_In}}
        <a class="{{ isActiveRoute 'Profile_Page'}} item" href="{{ pathFor 'Profile_Page' }}"><img class="ui avatar image" src="/images/UHM-logo.jpg"> Profile </a>
        <a class="{{ isActiveRoute 'Sell_Page'}} item" href="{{ pathFor 'Sell_Page' }}"> Sell </a>

        <div class="ui category search">
          <div class="ui icon input">
            <input class="prompt" placeholder="Search Item..." type="text">
            <i class="search icon"></i>
          </div>
          <div class="results"></div>
        </div>
        {{/If_Logged_In}}
      </div>
    </div>
  </div>
</template>