body {
  text-allign: center;
}

.ui.inverted.menu {
  background-color: #A4923F;
}

#login-buttons a, .accounts-dialog a {
  color: rgba(255, 255, 255, 0.9);
}

p {
  font-size: 38px;
}

.left.column {
  float: left;
  padding: 20px;
  width: 33%;
}

.middle.column {
  float: left;
  padding: 20px;
  width: 33%;
}

.right.column {
  float: left;
  padding: 20px;
  width: 33%;
}

.left {
  float: left;
  list-style: none;
  margin-left: 150px;
}

.middle {
  float: left;
  list-style: none;
  margin-left: 175px;
}

.right {
  float: left;
  list-style: none;
  margin-left: 175px;
}

ui.borderless.item.menu {
  color: rgba(0, 0, 0, 0.87);
}
